@media (max-width: 1650px) {
  .Card-ShapeBottom{
    margin-top: -70px;
    height: 290px !important;
  }
  .explore{
    padding: 400px 100px 350px 0px !important;
  }
}
@media (max-width: 1297px) {
  .Time-for-hiking{
    padding-right: 100px !important;
  }
  .Card-ShapeBottom{
    margin-top: -120px;
    height: 230px !important;
  }
  .hiking-card{
    padding: 190px 0 270px 0 !important;
  }
  .explore{
    padding: 300px 50px 400px 0px !important;
  }
}

@media (max-width: 1205px) {
  label.logo {
    font-size: 32px;
    /* padding-left: 60px; */
  }
  nav a {
    font-size: 15px;
  }
  .Time-for-hiking{
    padding-right: 130px !important;
  }
  .bigCard{
    padding-right: 0 !important;
  }
  .Card-ShapeBottom{
    margin-top: -100px;
    height: 230px !important;
  }
  .hiking-card{
    padding: 150px 0 220px 0 !important;
  }
  .explore{
    text-align: right !important;
    padding: 250px 0px 350px 0px !important;
  }
  .Your-Email input{
    width: 90%;
  }
}

@media (max-width: 927.9px) {
  nav #icon {
    display: block;
  }
  nav ul {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.1); */
    background: rgba(222,179,126, 0.9);
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: #3498db;
  }
  nav ul.show {
    left: 0;
  }
  .nav-input{
    background: white !important;
  }
  .search-md {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 95px;
  }
  .fa-search {
    left: 0;
    right: 0 !important;
    margin: 0 auto;
    position: absolute;
    margin-top: -30px !important;
  }
  .card{
    width: 35rem !important;
  }
  .card-image, .card-image img {
    height: 490px !important;
  }
  .Time-for-hiking{
    font-size: 77px;
    padding-right: 100px !important;
  }
  .bigCard{
    padding-right: 0 !important;
  }
  .hiking-card{
    padding: 120px 0 180px 0 !important;
  }
  .explore{
    text-align: right !important;
    padding: 200px 0px 300px 0px !important;
  }
}

@media (max-width: 767.9px) {
  .card-image, .card-image img{
    height: 430px !important;
  }
  .Time-for-hiking{
    font-size: 77px;
    padding: 0 !important;
  }
  .Card-ShapeBottom{
    margin-top: -100px;
    height: 230px !important;
  }
  .hiking-card{
    padding: 100px 0 160px 0 !important;
  }
  .explore{
    text-align: left !important;
    padding: 150px 0px 250px 0px !important;
  }
  .explore h1{
    font-size: 60px;
  }
  .Card3-ShapeBottom{
    height: 160px !important;
  }
  .glide__slide p{
    font-size: 15px !important;
  }
}

@media (max-width: 575.9px) {
  .Time-for-hiking{
    font-size: 57px !important;
  }
  .Lorem-title-section1{
    font-size: 20px;
  }
  .Lorem-text-section1{
    font-size: 16px;
  }
  .card{
    width: 25rem !important;
  }
  .card-image, .card-image img{
    height: 330px !important;
  }
  .bigCard{
    text-align: center;
    padding: 0 !important;
  }
  .Card-ShapeBottom{
    margin-top: -60px;
    height: 180px !important;
  }
  .hiking-card{
    padding: 100px 0 140px 0 !important;
  }
  .explore{
    text-align: left !important;
    padding: 100px 0px 200px 0px !important;
  }
  .explore h1{
    font-size: 55px;
  }
  .Card3-ShapeBottom{
    height: 140px !important;
  }
}

@media (max-width: 400px) {
  .bg-fon1-text{
    text-align: center;
    padding: 0;
  }
  .Time-for-hiking{
    font-size: 50px !important;
  }
  .Lorem-title-section1{
    font-size: 15px;
  }
  .Lorem-text-section1{
    font-size: 16px;
  }
  .button-time{
    font-size: 16px !important;
  }
  .card{
    width: 18rem !important;
  }
  .card-image, .card-image img{
    height: 250px !important;
  }
  .fluid{
    padding: 0 20px !important;
  }
  .bigCard{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .bigCard-title{
    font-size: 45px;
  }
  .bigCard-button{
    width: 100%;
    font-size: 20px !important;
  }
  .button-div{
    display: flex !important;
    justify-content: center !important;
  }
  .hiking-card{
    padding: 80px 0 120px 0;
  }
  .hiking-card h1{
    font-size: 45px;
  }
  .explore{
    text-align: left !important;
    padding: 100px 0px 200px 0px !important;
  }
  .explore h1{
    font-size: 55px;
  }
  .Card3-ShapeBottom{
    height: 120px !important;
  }
  .container-middle{
    padding: 0 60px !important;
  }
}